.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 1rem 5rem;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: .5rem;
}

.g-1 {
  gap: 1rem;
}

.align-items-center {
  align-items: center;
}

.justify-content-between {
  justify-content: space-between;
}

.list-links {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: .5rem;
}