@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@300;400;500;700&family=Roboto:wght@300;400;500;700&display=swap');

:root {
  --brand-font: 'Bebas Neue', cursive;
  --body-font: 'Open Sans', Roboto, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  --brand-color: rgba(229, 9, 20, 1);
  --dark-color: rgba(21, 21, 21, 1);
  --light-color: rgba(244, 244, 244, 1);
  --fw-light: 300;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-bold: 700;
  --fs-emphasis: 2.5rem;
  --fs-title: 2rem;
  --fs-small: .8rem;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--body-font);
  background-color: var(--dark-color);
  color: var(--light-color);
  font-weight: var(--fw-regular);
}

/* Backgrounds */

.bg-brand {
  background-color: var(--brand-color);
}

.bg-dark {
  background-color: var(--dark-color);
}

.bg-light {
  background-color: var(--light-color);
}

/* Tipografia */

.ft-brand {
  font-family: var(--brand-font);
}

.text-brand {
  color: var(--brand-color);
}

.text-dark {
  color: var(--dark-color);
}

.text-light {
  color: var(--light-color);
}

.fw-light {
  font-weight: var(--fw-light);
}

.fw-regular {
  font-weight: var(--fw-regular);
}

.fw-medium {
  font-weight: var(--fw-medium);
}

.fw-bold {
  font-weight: var(--fw-bold);
}

.fs-emphasis {
  font-size: var(--fs-emphasis);
}

.fs-title {
  font-size: var(--fs-title);
}

.fs-small {
  font-size: var(--fs-small);
}
